@import 'var';

.brand-color{
    color :$brand-color;
}

.darker-brand{
    color :$darker-brand;
}

.spec_comic{
    .brand_line{
        background: $brand-color;
        height: 50px;
    }
    .card_comic{
        position: absolute;
        bottom: 450px;
    }
    .comic-info{
        color: $brand-color;
    }
    .price_avaiabile{
        background: $available;
        .price-box{
            width: 80%;
        }
        .check{
            border-left: 1px solid $brand-secondary ;
        }
    }
    .bg-brand-secondary{
        background: $low-contrast;
    }
}